.container{
    width: 100vw;
    height: auto;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.card{
  width: 250px;
  height: 250px;
  background-color: purple;
}
  