* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .footer {
    background-color: hsl(0, 0%, 96%);
    padding: 40px 20%;
  }
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1 1 300px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .footer-section h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  
  .footer-section p {
    color: #666;
    line-height: 1.6;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section ul li a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }